.container {
  display: flex;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 20px;
}
.button {
  width: 80px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
}
.good {
  composes: button;
  background-color: green;
  color: white;
}
.neutral {
  composes: button;
  background-color: yellow;
}
.bad {
  composes: button;
  background-color: red;
  color: white;
}
.reset {
  composes: button;
  background-color: rgb(175, 242, 220);
}
